In [1]:
import pandas as pd

In [2]:
#We will import the original csv sourced from kaggle using a file path

filepath = r"/Users/sarahawad/Desktop/DataExplore/avgsocial.csv";
df = pd.read_csv(filepath)

In [3]:
df

,age,gender,time_spent,platform,interests,location,demographics,profession,income,indebt,isHomeOwner,Owns_Car
0,56,male,3,Instagram,Sports,United Kingdom,Urban,Software Engineer,19774,True,False,False
1,46,female,2,Facebook,Travel,United Kingdom,Urban,Student,10564,True,True,True
2,32,male,8,Instagram,Sports,Australia,Sub_Urban,Marketer Manager,13258,False,False,False
3,60,non-binary,5,Instagram,Travel,United Kingdom,Urban,Student,12500,False,True,False
4,25,male,1,Instagram,Lifestlye,Australia,Urban,Software Engineer,14566,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
995,22,female,8,Instagram,Lifestlye,United Kingdom,Rural,Marketer Manager,18536,False,True,False
996,40,non-binary,6,YouTube,Travel,United Kingdom,Rural,Software Engineer,12711,True,False,False
997,27,non-binary,5,YouTube,Travel,United Kingdom,Rural,Student,17595,True,False,True
998,61,female,4,YouTube,Sports,Australia,Sub_Urban,Marketer Manager,16273,True,True,False
999,19,female,8,YouTube,Travel,Australia,Rural,Student,16284,False,True,False

In [4]:
ndf = df.loc[df['location'] == 'United States']
ndf

,age,gender,time_spent,platform,interests,location,demographics,profession,income,indebt,isHomeOwner,Owns_Car
5,38,male,3,Facebook,Travel,United States,Urban,Marketer Manager,19179,True,True,True
6,56,male,8,YouTube,Sports,United States,Urban,Student,16881,True,True,True
11,41,non-binary,5,Facebook,Sports,United States,Sub_Urban,Marketer Manager,10350,False,False,False
14,41,non-binary,9,YouTube,Travel,United States,Rural,Student,17743,True,True,False
16,39,male,8,Instagram,Travel,United States,Sub_Urban,Student,14732,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
963,47,non-binary,1,YouTube,Travel,United States,Rural,Marketer Manager,13622,True,False,False
983,43,female,3,Instagram,Travel,United States,Sub_Urban,Marketer Manager,10191,True,False,False
985,55,non-binary,3,YouTube,Lifestlye,United States,Sub_Urban,Software Engineer,17174,True,False,False
993,23,female,3,YouTube,Lifestlye,United States,Urban,Student,19196,False,False,False
994,27,non-binary,4,Instagram,Lifestlye,United States,Sub_Urban,Marketer Manager,15494,False,False,True

In [ ]:
ndf.to_csv('media_US.csv', index=False)